<div class="mt-4">
  <form>
    <div class="form-group">
      <label for="search-input">Keys word</label>
      <input
        class="form-control"
        id="search-input"
        name="q"
        placeholder="Enter your search..."
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>